In [1]:
#load sql magic command
%load_ext sql

#create connection string connect to mysql database
connection_string = 'mysql://hostname:password@127.0.0.1/databasename'

# Connect to the database
%sql $connection_string

In [12]:
#quer table names
tables_names = %sql SHOW TABLES;
#convert the table names into a list
table_names_list = [table[0] for table in tables_names]
#check the tables name in the data base 
print(table_names_list)

 * mysql://root:***@127.0.0.1/sales
5 rows affected.
['customers', 'date', 'markets', 'products', 'transactions']

In [17]:
import pandas as pd

# Execute the query and store the result in a DataFrame
for table in table_names_list:

#query for each table content
    query =f"SELECT * FROM {table} LIMIT 1000000;"
    table_data = %sql $query

# Convert the result to a DataFrame
    table_df =pd.DataFrame(table_data)
#EXport it to an excel to use it in tabluea puplic
    table_df.to_excel(f"{table}.xlsx", index=False)

 * mysql://root:***@127.0.0.1/sales
38 rows affected.
 * mysql://root:***@127.0.0.1/sales
1126 rows affected.
 * mysql://root:***@127.0.0.1/sales
17 rows affected.
 * mysql://root:***@127.0.0.1/sales
279 rows affected.
 * mysql://root:***@127.0.0.1/sales
150281 rows affected.